<a href="https://colab.research.google.com/github/aadi-29/machinelearning/blob/main/navies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

feature_cols=['1','2','3','4','5','6','7','8','9']
df= pd.read_csv('breast-cancer-wisconsin.csv')

 
X = df[feature_cols] # Features
y = df["10"] # Target
df.head()
#len(df)

         0  1   2   3  4  5   6  7  8  9  10
0  1002945  5   4   4  5  7  10  3  2  1   2
1  1015425  3   1   1  1  2   2  3  1  1   2
2  1016277  6   8   8  1  3   4  3  7  1   2
3  1017023  4   1   1  3  2   1  3  1  1   2
4  1017122  8  10  10  8  7  10  9  7  1   4

In [ ]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn import metrics

train_feat=[]
while(len(feature_cols)>0):
    max_feat = ''
    max_acc=0
    #print(feature_cols)
    for i in df[feature_cols]:
        #Create a Gaussian Classifier
        gnb = GaussianNB()
        train_feat.append(i)
        df_each = df[train_feat]
        if(len(train_feat)==1):
            X_train, X_test, y_train, y_test = train_test_split(df_each.values.reshape(-1,1), y, test_size=0.3, random_state=21)
        else:
            X_train, X_test, y_train, y_test = train_test_split(df_each, y, test_size=0.3, random_state=21)
            
        gnb.fit(X_train, y_train)

        #Predict the response for test dataset
        y_pred = gnb.predict(X_test)
        curr_acc = metrics.accuracy_score(y_test, y_pred)
        #print("Accuracy: ",i,curr_acc)
        if(curr_acc>max_acc):
            max_acc=curr_acc
            max_feat = i
        train_feat.remove(i)
    print("Accuracy: ",train_feat,max_acc)    
    
    feature_cols.remove(max_feat)
    train_feat.append(max_feat)

Accuracy:  [] 0.9219512195121952
Accuracy:  ['2'] 0.9463414634146341
Accuracy:  ['2', '5'] 0.9609756097560975
Accuracy:  ['2', '5', '1'] 0.9658536585365853
Accuracy:  ['2', '5', '1', '3'] 0.975609756097561
Accuracy:  ['2', '5', '1', '3', '6'] 0.9804878048780488
Accuracy:  ['2', '5', '1', '3', '6', '7'] 0.975609756097561
Accuracy:  ['2', '5', '1', '3', '6', '7', '8'] 0.975609756097561
Accuracy:  ['2', '5', '1', '3', '6', '7', '8', '9'] 0.9658536585365853